.*

# Added by cargo

/target

# Added by nix

/result*

# Temp test files
/lux-lib/resources/test/luatest-0.2-1/
/lux-lib/proptest-regressions/
/*.rockspec
*.snap.new
/*.rock

# Lux project files
/lux.lock
/spec/
/*.rock
/src

# Generated definitions by lux-definitions
/definitions
