[alias]
tt = "--locked nextest run --tests --no-fail-fast"                     # All
tl = "--locked nextest run --lib --no-fail-fast"                       # Lib only
lx = "--locked run --bin lx --"
xtask = "--locked run --package xtask --"
xtask-lua51 = "--locked run --package xtask-lua --features lua51 --"
xtask-lua52 = "--locked run --package xtask-lua --features lua52 --"
xtask-lua53 = "--locked run --package xtask-lua --features lua53 --"
xtask-lua54 = "--locked run --package xtask-lua --features lua54 --"
xtask-lua55 = "--locked run --package xtask-lua --features lua55 --"
xtask-luajit = "--locked run --package xtask-lua --features luajit --"
build-all = "--locked run --package xtask -- build"
build-all-release = "--locked run --package xtask -- build-release"
dist = "--locked run --package xtask -- dist"

# lux-lua needs this to build in module mode
[target.aarch64-apple-darwin]
rustflags = ["-C", "link-arg=-undefined", "-C", "link-arg=dynamic_lookup"]

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
[target.aarch64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]
