on:
  pull_request:
    types: [opened, ready_for_review, reopened, synchronize]
  push:
    branches:
      - master

name: Integration tests (Linux/MacOS)

jobs:
  test:
    permissions:
      contents: read
      pull-requests: read
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-14"]
        lua: [
          { version: "5.1", feature: "lua51" },
          { version: "5.2", feature: "lua52" },
          { version: "5.3", feature: "lua53" },
          { version: "5.4", feature: "lua54" },
          # FIXME: Not many packages support Lua 5.5 yet,
          # so we skip integration tests for Lua 5.5 for now.
          # { version: "5.5", feature: "lua55" },

          # FIXME: the luajit devshell
          # is failing to build in CI with a strange 'command not found' error message.
          # It doesn't fail to build locally...
          # { version: "luajit-2.1", feature: "luajit" }
        ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: neorocks
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run tests (Linux/macOS)
        run: |
          nix develop .#${{ matrix.lua.feature }}-ci \
            --accept-flake-config \
            --command cargo nextest run \
            --locked \
            --test "*" \
            --no-fail-fast \
            --features vendored
